<ion-view view-title="Connexion" name="login-view">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Identifiant" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Mot de passe" ng-model="data.password">
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="login()">Se connecter</button>
  </ion-content>
</ion-view>